<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::header('season影院',~{})">

</head>
<body>
<div class="header">
    <div th:replace="common::headertop_desc"></div>
    <div class="wrap">
        <div th:replace="common::header_top"></div>
        <div class="header_bottom">
            <div class="header_bottom_left">
                <div class="categories">
                    <h3>最热</h3>
                    <ul th:each="movie,state:${hotList}">
                        <li>
                            <div>
                                <a th:text="${state.count}+(${state.count}>9?'&nbsp;':'&nbsp;&nbsp;&nbsp;')+${movie.name}"></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header_bottom_right">
                <!------ 轮播Slider ------------>
                <div class="slider">
                    <div class="slider-wrapper theme-default">
                        <div id="slider" class="nivoSlider">
                            <a href="/play/234123">
                                <img th:src="${application._imgPath}+'1.jpg'" data-thumb="" alt=""/>
                            </a>
                            <a href="/play/234123">
                                <img th:src="${application._imgPath}+'2.jpg'" alt=""/>
                            </a>
                            <a href="/play/234123">
                                <img th:src="${application._imgPath}+'3.jpg'" alt=""/>
                            </a>
                            <a href="/play/234123">
                                <img th:src="${application._imgPath}+'4.jpg'" alt=""/>
                            </a>
                            <a href="/play/234123">
                                <img th:src="${application._imgPath}+'5.jpg'" data-thumb="" alt=""/>
                            </a>
                        </div>
                    </div>
                </div>
                <!------End 轮播Slider ------------>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="tlinks">Collect from <a href="http://www.cssmoban.com/" title="网站模板">网站模板</a></div>
<!------------End Header ------------>
<div class="main">
    <div class="wrap">
        <div class="content">
            <div class="content_top">
                <div class="heading">
                    <h3>新片上映</h3>
                </div>
            </div>
            <div class="section group">
                <div class="grid_1_of_5 images_1_of_5" th:each="movie,state:${newList}">
                    <a th:href="@{'/detail/'+${movie.id}}">
                        <img th:src="${application._imgPath}+(${movie.cover}!=''?${movie.cover}:'image.png')" alt=""/>
                    </a>
                    <h2><a href="detail.html" th:text="${movie.name}"></a></h2>
                    <div class="price-details">
                        <div class="price-number">
                            <p><span class="rupees" th:text="'￥'+${movie.price}">￥0.00</span></p>
                        </div>
                        <div class="add-cart">
                            <h4><a href="detail.html">加入购物车</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="content_bottom">
                <div class="heading">
                    <h3>怀旧经典</h3>
                </div>
            </div>
            <div class="section group">
                <div class="grid_1_of_5 images_1_of_5" th:each="movie,state:${classicList}">
                    <a th:href="@{'/detail/'+${movie.id}}">
                        <img th:src="${application._imgPath}+(${movie.cover}!=''?${movie.cover}:'image.png')"
                             alt=""/>
                    </a>
                    <h2><a href="detail.html" th:text="${movie.name}"></a></h2>
                    <div class="price-details">
                        <div class="price-number">
                            <p><span class="rupees" th:text="'￥'+${movie.price}">￥0.00</span></p>
                        </div>
                        <div class="add-cart">
                            <h4><a href="detail.html">加入购物车</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common::footer"></div>
<script th:replace="common::scripts"></script>
<script type="text/javascript">
    $(window).load(function () {
        $('#slider').nivoSlider();
    });
    $(document).ready(function () {
        $().UItoTop({easingType: 'easeOutQuart'});
    });

    function DropDown(el) {
        this.dd = el;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;

            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                event.stopPropagation();
            });
        }
    };

    $(function () {

        var dd = new DropDown($('#dd'));

        $(document).click(function () {
            // all dropdowns
            $('.wrapper-dropdown-2').removeClass('active');
        });

    });
</script>
<a href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
</html>

