<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.season.movie.dao.mapper.MovieMapper">
    <resultMap id="BaseResultMap" type="com.season.movie.dao.entity.Movie">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="cover" jdbcType="VARCHAR" property="cover"/>
        <result column="play_count" jdbcType="BIGINT" property="playCount"/>
        <result column="show_year" jdbcType="TIMESTAMP" property="showYear"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="video_id" jdbcType="BIGINT" property="videoId"/>
        <result column="area_id" jdbcType="INTEGER" property="areaId"/>
    </resultMap>


    <resultMap id="movieKindMap" type="com.season.movie.dao.entity.Movie" extends="BaseResultMap">
        <collection property="kinds" resultMap="com.season.movie.dao.mapper.KindMapper.BaseResultMap"
                    columnPrefix="kind_"/>
    </resultMap>

    <sql id="base_select_sql">
        SELECT
            m.id,
            m.name,
            m.play_count,
            m.cover,
            m.price,
            m.show_year,
            m.video_id,
            m.create_time,
            k.id   kind_id,
            k.name kind_name,
            k.sort kind_sort
        FROM movie m
            INNER JOIN movie_kind mk ON m.id = mk.movie_id
            INNER JOIN kind k ON k.id = mk.kind_id
    </sql>

    <select id="selectAllWithKind" resultMap="movieKindMap">
        <include refid="base_select_sql"/>
    </select>
    <select id="selectByMovieIdWithKind" resultMap="movieKindMap">
        <include refid="base_select_sql"/>
        WHERE m.id=#{movieId}
    </select>

</mapper>