

.space {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
}
[class*="vspace-"] {
    display: none;
}
.space-32 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 32px 0 31px;
}
[class*="vspace-32"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 32px 0 31px 0;
}
.space-30 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 30px 0 29px;
}
[class*="vspace-30"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 30px 0 29px 0;
}
.space-28 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 28px 0 27px;
}
[class*="vspace-28"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 28px 0 27px 0;
}
.space-26 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 26px 0 25px;
}
[class*="vspace-26"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 26px 0 25px 0;
}
.space-24 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 24px 0 23px;
}
[class*="vspace-24"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 24px 0 23px 0;
}
.space-22 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 22px 0 21px;
}
[class*="vspace-22"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 22px 0 21px 0;
}
.space-20 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 20px 0 19px;
}
[class*="vspace-20"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 20px 0 19px 0;
}
.space-18 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 18px 0 17px;
}
[class*="vspace-18"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 18px 0 17px 0;
}
.space-16 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 16px 0 15px;
}
[class*="vspace-16"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 16px 0 15px 0;
}
.space-14 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 14px 0 13px;
}
[class*="vspace-14"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 14px 0 13px 0;
}
.space-12 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0 11px;
}
[class*="vspace-12"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0 11px 0;
}
.space-10 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 10px 0 9px;
}
[class*="vspace-10"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 10px 0 9px 0;
}
.space-8 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 8px 0 7px;
}
[class*="vspace-8"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 8px 0 7px 0;
}
.space-6 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 6px 0 5px;
}
[class*="vspace-6"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 6px 0 5px 0;
}
.space-4 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 4px 0 3px;
}
[class*="vspace-4"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 4px 0 3px 0;
}
.space-2 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 2px 0 1px;
}
[class*="vspace-2"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 2px 0 1px 0;
}
.space-0,
[class*="vspace-0"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}


.footer > .container .text-muted {
    margin: 20px 0;
}


.optIcon{
    margin: 0 6px;
    cursor: pointer;
}