<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="bootstrap::header('登录',~{::link})">
    <link th:href="${application._staticPath}+'/style/signin.css'" rel="stylesheet">
</head>

<body>

<div class="container">

    <form class="form-signin" id="loginForm" method="post" onsubmit="return false;" th:action="@{/sso/login}">
        <h2 class="form-signin-heading" style="text-align: center">请登录</h2>
        <input type="text" id="inputUser" name="username" class="form-control" placeholder="用户名">
        <input type="password"
               id="inputPassword" name="password" class="form-control" placeholder="密码" required="">
        <div class="form-control captchaDiv">
            <input id="inputCaptcha" style="width: 60%;height:30px" class="captcha" name="captcha" type="text" placeholder="验证码"
                   required="true"/>
            <img id="imgCaptcha" alt="验证码" style="cursor: pointer" onclick="refreshImg(this)" class="pull-right"
                 th:src="@{/captcha}">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> 记住我
            </label>
            <a style="float:right" th:href="@{/register}" th:text="快速注册"/>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    </form>

</div> <!-- /container -->


<script th:replace="bootstrap::script"></script>

<script th:src="${application._staticPath}+'/lib/jquery.form.js'"></script>
<script th:src="${application._staticPath}+'/lib/validate/jquery.validate.min.js'"></script>
<script th:src="${application._staticPath}+'/lib/validate/messages_zh.js'"></script>
<script th:src="${application._staticPath}+'/script/login/login.js'"></script>
<script th:src="${application._staticPath}+'/script/Alert.js'"></script>
<script th:src="${application._staticPath}+'/script/common.js'"></script>


<script th:inline="javascript">
    /*<![CDATA[*/
    var backUrl =/*[[${#httpServletRequest.getAttribute('backUrl')}]]*/
    var appCode =/*[[${#httpServletRequest.getAttribute('appCode')}]]*/
    /*]]>*/
</script>
</body>
</html>