<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="index::header('影片列表',~{})">

</head>
<body>

<div th:replace="index::conteWrap('movie','movieUpload',~{::mainContent})">
    <th:block th:fragment="mainContent">
        <div class="sixteen wide tablet sixteen wide computer column">
            <div class="ui segments">
                <div class="ui segment">
                    <h5 class="ui  header">
                        任务列表
                    </h5>
                </div>
                <div class="ui segment">
                    <div class="ui top attached tabular menu stackable">
                        <a class="item active" data-tab="one">未完成</a>
                        <a class="item" data-tab="two">已完成</a>
                        <a class="item" data-tab="three">垃圾箱</a>
                    </div>
                    <div class="ui bottom attached tab segment active" data-tab="one">
                        <div class="ui middle aligned divided list">
                            <div class="item">
                                <div class="content">
                                    <div class="header" style="padding: 10px 15px 5px;">
                                        <span style="font-size: 14px;">一出好戏</span>
                                        <div class="right floated content">
                                            <i style="cursor: pointer"
                                               class="upload icon arrow large circle up outline">
                                            </i>
                                        </div>
                                    </div>
                                    <div class="description" style="padding: 5px 10px;clear: both;">
                                        <div class="ui active progress blue" style="height: 11px" data-percent="61"
                                             id="example2">
                                            <div class="bar"
                                                 style="transition-duration: 300ms; width: 61%;height: 11px">
                                                <div class="progress">61%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <div class="header" style="padding: 10px 15px 5px;">
                                        <span style="font-size: 14px;">一出好戏</span>
                                        <div class="right floated content">
                                            <i style="cursor: pointer"
                                               class="upload icon large pause circle outline">
                                            </i>
                                        </div>
                                    </div>
                                    <div class="description" style="padding: 5px 10px;clear: both;">
                                        <div class="ui progress red" style="height: 11px" data-percent="61"
                                             id="example">
                                            <div class="bar"
                                                 style="transition-duration: 300ms; width: 61%;height: 11px">
                                                <div class="progress">61%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui bottom attached tab segment" data-tab="two">
                        Two
                    </div>
                    <div class="ui bottom attached tab segment" data-tab="three">
                        Three
                    </div>
                </div>
            </div>
        </div>


    </th:block>
</div>

<div style="position: fixed;right: 5px;bottom: 10px">
    <button class="ui circular icon button huge green" onclick="showMovieAdd()">
        <i class="plus icon white"></i>
    </button>
</div>

<div class="ui fullscreen modal" id="videoForm">
    <i class="close icon"></i>
    <div class="header">
        Update Your Settings
    </div>
    <div class="content">
        <div class="ui form">
            <h4 class="ui dividing header">Give us your feedback</h4>
            <div class="field">
                <label>Feedback</label>
                <textarea></textarea>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" checked="checked" name="contact-me">
                    <label>It's okay to contact me.</label>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui button deny">取消</div>
        <div class="ui green button deny">确定</div>
    </div>
</div>



</body>


<th:block th:include="index::script"/>

<!-- jquery file upload相关 -->
<script th:src="${application._staticPath}+'lib/jQuery-File-Upload/js/vendor/jquery.ui.widget.js'"></script>
<script th:src="${application._staticPath}+'lib/jQuery-File-Upload/js/jquery.iframe-transport.js'"></script>
<script th:src="${application._staticPath}+'lib/jQuery-File-Upload/js/jquery.fileupload.js'"></script>
<script th:src="${application._staticPath}+'lib/jQuery-File-Upload/js/jquery.fileupload-process.js'"></script>
<script th:src="${application._staticPath}+'lib/jQuery-File-Upload/js/jquery.fileupload-validate.js'"></script>
<!-- jquery file upload相关 -->


</html>