<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="index::header('上传影片',~{})"/>
    <link th:href="${application._staticPath}+'movie-admin/css/jquery-ui.min.css'" rel="stylesheet">
    <link th:href="${application._staticPath}+'lib/jQuery-cropper/css/cropper.min.css'" rel="stylesheet">
    <style>
        .bar {
            height: 10px;
            background: green;
        }

        #progress {
            background: gray;
            margin: 0 5px 0;
        }
    </style>
</head>
<body>
<div th:replace="index::conteWrap('movie','movieAdd',~{::mainContent})">
    <th:block th:fragment="mainContent">
        <div class="sixteen wide tablet eight wide computer column">
            <div class="ui segments">
                <div class="ui segment">
                    <h5 class="ui header">
                        添加影片
                    </h5>
                </div>
                <form class="ui form segment movieForm" id="movieForm" onsubmit="return false;">
                    <div class="field">
                        <label>电影封面</label>
                        <div class="ui small image" style="width:100%">
                            <img id="uploadImg" class="ui middle aligned small image "
                                 th:src="${application._imgPath}+'image.png'">
                            <div class="fileBtn" id="uploadImgBtn"
                                 style="display:inherit;margin-left: 5px;width: 10%;">
                                <!--label包裹input，点了label相当于点了input-->
                                <label style="cursor: pointer">选择图片
                                    <input id="inputImg" type="file" name="uploadImg" hidden>
                                </label>
                            </div>
                            <!--<div id="progress" style="width: 15%;display: none">-->
                            <!--<div class="bar" style="width: 0%;"></div>-->
                            <!--</div>-->
                        </div>
                        <input hidden id="movieImg" name="movieImg">
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>名称</label>
                            <input placeholder="电影名称" name="movieName" type="text">
                        </div>
                        <div class="field">
                            <label>类型</label>
                            <div class="ui dropdown selection multiple" tabindex="0">
                                <select name="movieKind" multiple="">
                                    <option value="">选择类别</option>
                                    <option th:each="item,index:${kinds}"
                                            th:value="${item.id}"
                                            th:text="${item.name}">
                                    </option>
                                </select><i class="dropdown icon"></i>
                                <div class="default text">选择类别</div>
                                <div class="menu" tabindex="-1">
                                    <div class="item"
                                         th:each="item,index:${kinds}"
                                         th:data-value="${item.id}"
                                         th:text="${item.name}">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>上映时间</label>
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" id="datepicker" name="showTime" size="30" placeholder="日期">
                            </div>
                        </div>
                        <div class="field">
                            <label>电影价格</label>
                            <input type="number" name="price">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>导演</label>
                            <input name="director" type="text">
                        </div>
                        <div class="field">
                            <label>主演</label>
                            <input type="text" name="actor">
                        </div>
                    </div>
                    <div class="field">
                        <label>关键字</label>
                        <input placeholder="如热血、青春、惊悚等" name="keyword" type="text">
                    </div>
                    <div class="field">
                        <label>简介</label>
                        <textarea name="introduce" cols="5"></textarea>
                    </div>

                    <div style="text-align: right;padding: 5px;">
                        <div class="ui blue submit button">上传</div>
                    </div>
                </form>
            </div>
        </div>
    </th:block>
</div>

<div class="ui  modal actionmodal">
    <div class="header">
        裁剪图片
    </div>
    <div class="image content">
        <div class="ui massive image" style="height: 250px;width: 250px">
            <img id="movieCropImg">
        </div>
        <div class="description">
            <div class="ui header">图片预览</div>
            <div class="img-preview" style="overflow: hidden;width: 200px;height: 200px;">
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui gray deny button">
            取消
        </div>
        <div class="ui positive right icon button">
            确定
        </div>
    </div>
</div>
</body>

<script th:replace="index::js_jquery"></script>

<!--方法重名了，所以放在后面-->
<script th:src="${application._staticPath}+'movie-admin/js/jquery-ui.min.js'"></script>
<script th:src="${application._staticPath}+'movie-admin/js/customjs/custom-datePicker-zh.js'"></script>

<script th:replace="index::js_basic"></script>

<script th:src="${application._staticPath}+'/lib/jquery.form.js'"></script>
<script th:src="${application._staticPath}+'lib/jQuery-cropper/js/cropper.min.js'"></script>
<script th:src="${application._staticPath}+'lib/jQuery-cropper/js/jquery-cropper.min.js'"></script>

<script th:src="${application._staticPath}+'movie-admin/movie/movieAdd.js'"></script>

</html>
