<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="index::header('上传影片',~{})">
</head>
<!--
业务
- 新建任务：填写完信息后，点击确认，向后台添加一个视频上传信息和任务信息 -> 跳到未完成TAB页，增加一个任务条目
- 未完成：页面一进来就加载好条目，每个条目可以开始、停止、删除、彻底删除
- 已完成：页面一进来就加载好条目，每个条目可以删除
- 垃圾箱：页面一进来就加载好条目，每个条目可以删除、重新开始
-->
<body>
<div th:replace="index::conteWrap('movie','movieUpload',~{::mainContent})">
    <th:block th:fragment="mainContent">
        <div class="sixteen wide tablet sixteen wide computer column">
            <div class="ui segments">
                <div class="ui segment">
                    <h5 class="ui  header">
                        任务列表
                    </h5>
                </div>
                <div class="ui segment" id="taskList">
                    <div id="tabHead" class="ui top attached tabular menu stackable">
                        <a class="item" data-tab="zero">新建任务</a>
                        <a class="item active" data-tab="one">未完成</a>
                        <a class="item" data-tab="two">已完成</a>
                        <a class="item" data-tab="three">垃圾箱</a>
                    </div>
                    <div class="ui bottom attached tab segment" data-tab="zero">
                        <form class="ui form" id="videoForm" onsubmit="return false;">
                            <div class="two fields">
                                <div class="field">
                                    <label>视频名称</label>
                                    <input type="text" id="videoName">
                                </div>
                                <div class="field">
                                    <label>视频文件</label>
                                    <input type="file" style="height: 32px" name="videoFile" id="videoFile">
                                </div>
                            </div>
                            <div class="inline fields">
                                <label>视频质量</label>
                                <div class="field" th:each="quality,stat : ${qualities}">
                                    <div class="ui radio checkbox">
                                        <input th:value="${quality.name}" type="radio" name="videoQuality">
                                        <label th:text="${quality.name}">高清</label>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <textarea placeholder="视频描述,80字以内" id="videoDesc" maxlength="80"></textarea>
                            </div>
                            <div style="text-align: right;padding-top: 10px">
                                <div class="ui button clear">重置</div>
                                <div class="ui blue button submit ">确定</div>
                            </div>
                        </form>
                    </div>
                    <div class="ui bottom attached tab segment active" id="task_unFinish" data-tab="one">
                        <!--<div class="ui middle aligned divided list">-->
                            <!--<div class="item" th:each="task,stat : ${tasks.unfinish}">-->
                                <!--<div class="content">-->
                                    <!--<div class="header" style="padding: 10px 15px 5px;">-->
                                        <!--<span style="font-size: 14px;" th:text="${task.name}">xxxx</span>-->
                                        <!--<div class="right floated content">-->
                                            <!--<i style="cursor: pointer"-->
                                               <!--class="upload icon arrow large circle up outline">-->
                                            <!--</i>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="description" style="padding: 5px 10px;clear: both;">-->
                                        <!--<div class="ui active progress blue" style="height: 11px"-->
                                             <!--th:data-percent="${task.percent}"-->
                                             <!--th:id="'task_'+${task.id}">-->
                                            <!--<div class="bar"-->
                                                 <!--th:style="'transition-duration: 300ms;height: 11px;width'+${task.percent}+'%'"></div>-->
                                            <!--<div class="progress" th:text="${task.percent+'%'}">61%</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--上传隐藏的div-->
                        <div id="uploadForm">

                        </div>
                    </div>
                    <div class="ui bottom attached tab segment" data-tab="two">
                        Two
                    </div>
                    <div class="ui bottom attached tab segment" data-tab="three">
                        Three
                    </div>
                </div>
            </div>
        </div>


    </th:block>
</div>

<!--<div style="position: fixed;right: 5px;bottom: 10px">-->
<!--<button class="ui circular icon button huge green" onclick="showMovieAdd()">-->
<!--<i class="plus icon white"></i>-->
<!--</button>-->
<!--</div>-->

<!--<div class="ui modal" id="videoForm">-->
<!--<i class="close icon"></i>-->
<!--<div class="header">-->
<!--填写视频信息-->
<!--</div>-->
<!--<div class="content">-->
<!--<div class="ui form" onsubmit="return false;">-->
<!--<div class="two fields">-->
<!--<div class="field">-->
<!--<label>视频名称</label>-->
<!--<input type="text" id="videoName">-->
<!--</div>-->
<!--<div class="field">-->
<!--<label>视频文件</label>-->
<!--<input type="file" style="height: 32px" id="videoFile">-->
<!--</div>-->
<!--</div>-->
<!--<div class="inline fields">-->
<!--<label>视频质量</label>-->
<!--<div class="field">-->
<!--<div class="ui radio checkbox">-->
<!--<input type="radio" name="videoQuality" checked="checked">-->
<!--<label>高清</label>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="field">-->
<!--<textarea placeholder="视频描述,80字以内" id="videoDesc" maxlength="80"></textarea>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="actions">-->
<!--<div class="ui button deny">取消</div>-->
<!--<div class="ui green button submit ">确定</div>-->
<!--</div>-->
<!--</div>-->


</body>


<script th:replace="index::js_jquery"></script>

<!--jquery file upload相关-->
<script th:src="${application._staticPath}+'lib/jQuery-File-Upload/js/vendor/jquery.ui.widget.js'"></script>
<script th:src="${application._staticPath}+'lib/jQuery-File-Upload/js/jquery.iframe-transport.js'"></script>
<script th:src="${application._staticPath}+'lib/jQuery-File-Upload/js/jquery.fileupload.js'"></script>
<script th:src="${application._staticPath}+'lib/jQuery-File-Upload/js/jquery.fileupload-process.js'"></script>
<script th:src="${application._staticPath}+'lib/jQuery-File-Upload/js/jquery.fileupload-validate.js'"></script>
<!--jquery file upload相关-->

<script th:replace="index::js_basic"></script>

<script th:src="${application._staticPath}+'/lib/jquery.form.js'"></script>
<script th:src="${application._staticPath}+'movie-admin/movie/movieUpload.js'"></script>
<script>
    /*<![CDATA[*/
    var tasks =
    /*[[${tasks}]]*/
    var task_unfinish = tasks.unfinish || [];
    var task_done = tasks.done || [];
    var task_trash = tasks.trash || [];
    /*]]>*/
</script>
</html>