<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:fragment="header(title,links)">
    <th:block th:replace="bootstrap::headerDetail"/>
    <title th:text="${title}?:_">后台管理</title>
    <link th:replace="${links}">
    <link th:href="${application._staticPath}+'/style/admin.css'" rel="stylesheet">
    <link th:href="${application._staticPath}+'/lib/pagination/bootstrap-table.min.css'" rel="stylesheet">
    <link th:href="${application._staticPath}+'/font-awesome/css/font-awesome.min.css'" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/admin/index}"
               th:text="${application._appName}+'后台管理'"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown user-avatar">
                    <span style="color: #9d9d9d">欢迎您</span>
                    <a href="#" style="display: inline-block;" class="dropdown-toggle" data-toggle="dropdown">
                        <shiro:principal property="name"/>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a th:href="@{/sso/logout}">
                                <i class="fa fa-fw fa-power-off"></i>&nbsp;&nbsp;退出
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid" th:fragment="content(activeMenu,mainContent)">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="bottom: 65px">
            <ul class="nav nav-sidebar">
                <li th:class="${activeMenu}=='profile'?'active':none"><a th:href="@{/admin/index}">个人中心</a></li>
                <li th:class="${activeMenu}=='application'?'active':none"><a th:href="@{/admin/app}">应用</a></li>
                <li th:class="${activeMenu}=='user'?'active':none"><a th:href="@{/admin/user}">管理员</a></li>
                <li th:class="${activeMenu}=='role'?'active':none"><a th:href="@{/admin/role}">角色</a></li>
                <li th:class="${activeMenu}=='permission'?'active':none"><a th:href="@{/admin/permission}">权限</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"
             style="padding-bottom: 65px;">
            <th:block th:replace="${mainContent}"/>
        </div>
    </div>
    <!--<footer th:replace="footer::copy"></footer>-->
</div>

<th:block th:fragment="script">
    <script th:replace="bootstrap::script"></script>
    <script th:src="${application._staticPath}+'/script/Alert.js'"></script>
    <script th:src="${application._staticPath}+'/script/common.js'"></script>
    <script th:src="${application._staticPath}+'/lib/jquery.form.js'"></script>
    <script th:src="${application._staticPath}+'/lib/validate/jquery.validate.min.js'"></script>
    <script th:src="${application._staticPath}+'/lib/validate/messages_zh.js'"></script>
    <script th:src="${application._staticPath}+'/lib/pagination/bootstrap-table.min.js'"></script>
    <script th:src="${application._staticPath}+'/lib/pagination/bootstrap-table-zh-CN.js'"></script>
</th:block>

</body>
</html>